#footer {
  background-color: #121212;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #363636;
}

#footer p {
  font-weight: bold;
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
